BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: false
PointerAlignment: Left
ReferenceAlignment: Pointer
SpaceAfterLogicalNot: true
AlwaysBreakTemplateDeclarations: Yes
